
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

*{ background-color:#111C26;
 color:#cfd8dc;
 font-family: 'Poppins', sans-serif;
 margin: 0;
 padding: 0;
}

 .content{
  margin-bottom:60px;
} 
.row{
  align-items: center;

}
.section{
  margin-bottom:5%;
  margin-top:1%;
  width:95%;
  height:90%;
  color:#cfd8dc;
  border-bottom: 2px solid rgb(246, 250, 42);
  border-radius: 1px;
  font-family: 'Poppins', sans-serif;
  padding-bottom:1px;
  text-align: center;
  font-size:42px;
  
} 

#btn{
 
  font-family: 'Poppins', sans-serif; 
  margin-right: 15px;
  color:#000;
} 

.waves-effect{
  border-radius: 10px;
}
 .botao{
  
  text-align:center;
 
  top: 30%; 
  margin-top: 25px; 
  left: 40% ; 

} 
